@media (max-width: 2560px) {

    .prev {
        left: 10%;
    }

    .next {
        right: 10%;
    }

}

@media (max-width: 1440px) {

    .prev {
        left: 5%;
    }

    .next {
        right: 5%;
    }

}

@media (max-width: 1024px) {

    .top_section .nav .nav_toogle {
        display: inline-block;
    }

    .top_section .nav ul {
        display: none;
    }

    #nav_toogle:checked ~ ul {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: .8;
        color: rgb(112, 112, 112);
        width: 300px;
        position: fixed;
        z-index: 1;
    }
    .nav ul li a {
        display: block;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        align-items: center;
        padding: 28px 0;
        border: none;
        text-align: center;
        line-height: normal;
    }

    .nav ul a:hover {
        color: #4bcaff;
        border-top: 0;
    }

    #nav_toogle:checked ~ ul li {
        margin-right: 0;
        width: 100%;
    }

    .promo {
        margin-right: auto;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
    }

    .features_items li:not(:last-child) {
        margin-right: 60px;
    }

    .gallery_items ul {
        flex-wrap: wrap;
    }

    .gallery_items li {
        width: calc(50% - 30px);
        margin-right: 30px;
    }

    .prices_blocks ul {
        flex-direction: column;
    }

    .prices_blocks li {
        margin-bottom: 30px;
        margin-right: 30px;
    }

}

@media (max-width: 768px) {

    .features_items ul {
        flex-wrap: wrap;
    }

    .features_items li {
        margin-right: auto !important;
        margin-left: auto; 
        width: calc(50% - 90px);
    }

    .prices_blocks li {
        width: 49%;
    }

    .video_title {
        text-align: center;
    }

}

@media (max-width: 425px) {

    .prev,
    .next {
        display: none;
    } 

    .promo {
        width: 100%;
        margin: 0 0;
    }

    .buttons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .buttons .header_button {
        margin-bottom: 30px;
    }

    .button1 {
        margin-right: 0px; 
    }

    .item_1::before {
        left: 48%;
    }

    .item_3::before {
        left: 56%;
    }

    .features_items ul {
        flex-direction: column;
    }

    .features_items li {
        width: 100%;
    }

    .features_items li:not(:last-child) {
        margin-bottom: 30px;
    }

    .gallery_items li {
        width: 100%;
        margin-right: 0;
    }

    .gallery_items li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .prices_title p {
        text-align: center;
    }

    .prices_blocks li {
        width: 100%;
        margin-right: 0;
    }

    .prices_blocks li:not(:last-child) {
        margin-right: 0;
    }

    .testimonials_items {
        flex-direction: column;
    }

    .testimonials_items p {
        width: 90%;
    }

    .download_title {
        text-align: center;
    }

    .foot_items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .copyright {
        margin-bottom: 30px;
    }

}

@media (max-width: 375px) {

    .item_1::before {
        left: 46%;
    }

    .item_3::before {
        left: 58%;
    }

}

@media (max-width: 320px) {

    .nav ul {
        width: 250px;
    }

    .promo h2 {
        font-size: 35px;
    }

    .gallery_items .item_1 img, 
    .gallery_items .item_2 img, 
    .gallery_items .item_3 img, 
    .gallery_items .item_4 img {
        width: 100%;
    }

    .gallery_items h3 {
        bottom: 3px;
        width: 115px;
    }

    .prices_title h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .price {
        padding: 30px 65px;
    }

    .copyright {
        flex-direction: column;
    }

    .copyright span {
        display: none;
    }

    .copyright a {
        padding: 10px 0;
    }    

    .privacy a {
        line-height: 20px;
    }

}