* {
    margin: 0;
    padding: 0;
}

.site {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.site a {
    display: inline-block;
}

.header {
    background-color: #eeeeee;
}

.container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    cursor: default;
}

.site_button {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
}

.top_section {
    padding: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top_section .logo a {
    display: inline-block;
    height: 100%;
}

.top_section .nav {
    line-height: 100%;
}

.top_section .nav ul {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.top_section .nav ul li:not(:last-child) {
    margin: 0 20px;
    font-size: 16px;
    font-weight: bold;
}

.top_section .nav ul li:last-child {
    margin-left: 200px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
}

.top_section .nav ul li .ico_cart {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: calc(50% - 7px);
    left: -30px;
}

.top_section .nav ul li a {
    text-decoration: none;
    color: #3f3f3f;
    text-transform: uppercase;
    line-height: 80px;
    display: inline-block;
}

input {
    display: none;
}

#slider {
    position: relative;
    text-align: center;
    top: 10px;
}

#slider {
    margin: 0 auto;
}

#slides article {
    width: 33.3%;
    float: left;
    display: flex;
    height: 500px;
}

#slides .image {
    width: 300%;
    line-height: 0;
}

#overflow {
    width: 100%;
    overflow: hidden;
    height: 510px;
}

article img {
    margin-left: auto;
    width: 100%;
}

#desktop:checked ~ #slider {
    max-width: 4320px;
}

label {
    cursor: pointer;
}

#switch1:checked ~ #slides .image {
    margin-left: 0;
}

#switch2:checked ~ #slides .image {
    margin-left: -100%;
}

#switch3:checked ~ #slides .image {
    margin-left: -200%;
}

#active label {
    border-radius: 10px;
    display: inline-block; 
    width: 20px;
    height: 20px;
    background: #fff;
}

#active { 
    position: absolute;
    top: 70%;
    right: 45%;
}

#active label:nth-child(1),
#active label:nth-child(2) {
    margin-right: 15px;
}

#active label:hover { 
    background: #00f77b;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3) {
    background: #3f3f3f;
}

#slides .image { 
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.promo_item1,
.promo_item2,
.promo_item3 {
    text-align: start;
    margin-left: 5px;
}

.top_section .promo h2 {
    font-size: 53px;
    font-weight: bold;
    margin-top: 80px;
    line-height: 55px;
}

.top_section .promo p {
    color: #3f3f3f;
    font-size: 16px;
    line-height: 25px;
    margin: 30px 0;
}

.top_section .promo .promo_button {
    padding: 20px 60px;
    background-color: #fb565a;
}

.advantages {
    padding: 80px 0;
}

.advantages .advantages_items .item1 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.advantages .advantages_items .item1 ul li {
    width: 300px;
}

.advantages .advantages_items .item1 ul h3 {
    font-size: 24px;
    color: #000;
    margin: 20px 0;
}

.advantages .advantages_items .item1 ul .advantage_button1 {
    padding: 15px 40px;
    background-color: #fb565a;
    margin-top: 30px;
}

.advantages .advantages_items .item1 ul .advantage_button2 {
    padding: 15px 40px;
    background-color: #00ca74;
    margin-top: 30px;
}

.advantages .advantages_items .item1 ul .advantage_button3 {
    padding: 15px 40px;
    background-color: #efc84a;
    margin-top: 30px;
}

.studio_titles {
    display: flex;
    border-bottom: 2px solid #eeeeee;
    border-top: 2px solid #eeeeee;
    padding: 0 0 80px 0;
} 

.studio_title_about,
.studio_title_items {
    width: 50%;
}

.studio_title_about {
    margin-top: 80px;
}

.studio_title_about h2 {
    font-size: 42px;
}

.studio_title_about p {
    font-size: 16px;
    margin: 30px 0;
    line-height: 22px;
    color: #283136;
}

.studio_title_about h4 {
    text-transform: uppercase;
}

.studio_title_about ul {
    list-style: none;
}

.studio_title_about ul li span{
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.studio_title_about ul li {
    color: #283136;
}

.studio_title_about ul li:not(:last-child) {
    margin: 30px 0;
}

.studio_title_about ul,
.studio_title_items ul {
    list-style: none;
}

.studio_title_items {
    text-align: end;
    margin-top: 40px;
}

.studio_title_items img:hover {
    transform: scale(1.05);
}

.studio_title_items h4 {
    text-transform: uppercase;
    margin: 30px 0;
}

.studio_title_items ul {
    display: flex;
    margin-left: auto;
    width: 60%;
}

.studio_title_items ul li:not(:last-child) {
    margin-right: 30px;
}

.studio_title_items ul li {
    text-align: left;
}

.studio_title_items ul li span {
    font-size: 45px;
    font-weight: bold;
    position: relative;
}

.studio_title_items ul li:not(:last-child) span::after {
    right: -35%;
}

.studio_title_items ul li span::after {
    content: '';
    background-image: url(../Images/percent.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: -50%;
    top: 5px;
}

.studio_title_items li p {
    font-size: 16px;
    margin-top: 20px;
    color: #283136;
}

.allies .allies_company {
    padding: 60px 0;
    border-bottom: 2px solid #eeeeee;
}

.allies .allies_company ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.allies .allies_company li {
    position: relative;
}

.allies .allies_company li:not(:last-child)::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #eeeeee;
    position: absolute;
    transform: rotate(90deg);
    top: calc(50% - 5px);
    right: calc(-50% + 25px);
}

.contacts {
    padding-top: 80px;
    position: relative;
}

.contacts .map {
    position: relative;
}

.adress {
    position: absolute;
    top: calc(50% - 140px);
    width: 210px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px;
}

.adress h4 {
    text-transform: uppercase;
    font-weight: bold;
}

.adress .adress_item,
.adress .phone {
    color: #747474;
}

.adress .adress_item {
    margin: 30px 0;
}

.adress .phone {
    margin-bottom: 30px;
}

.adress .adress_button {
    height: 46px;
}

.adress .adress_button label {
    background-color: #fb565a;
    padding: 15px 35px;
    border-radius: 3px;
}

.personal_items {
    position: absolute;
    width: 760px;
    left: calc(50% - 470px);
    top: -75px;
    background-color: #fff;
    box-shadow: 0 15px 25px 1px rgb(92, 92, 92);
    padding: 70px 100px;
    display: none;
}

#write:checked ~ .personal_items {
    display: inline-block;
    z-index: 1;
}

#close:checked ~ .personal_items {
    display: none;
}

.personal_items label {
    width: 30px;
    height: 4px;
    background-color: #fecccd;
    position: absolute;
    right: 14px;
    top: 25px;
    transform: rotate(45deg);
}

.personal_items label::before {
    content: '';
    width: 30px;
    height: 4px;
    background-color: #fecccc;
    position: absolute;
    transform: rotate(90deg);
    right: 0;
}

.personal_items li input {
    display: inline-block;
    width: calc(100% - 35px);
    padding: 15px;
    margin-bottom: 30px;
    border: 2px solid #d7dcde;
}

.personal_items li input::placeholder,
.personal_items li textarea::placeholder {
    color: #a1a1a1;
}

.personal_items li textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

.personal_items li textarea {
    width: calc(100% - 33px);
    padding: 15px;
    margin-bottom: 30px;
    border: 2px solid #d7dcde;
}

.personal_items ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.personal_items ul li {
    border-color: #d7dcde;
}

.personal_items ul li:not(:last-child) {
    width: calc(43% + 30px);
}

.personal_items ul li:nth-child(2) {
    margin-left: 10px;
}

.personal_items ul li:nth-child(3) {
    width: 100%;
}

.personal_items h2 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}

.personal_items p {
    margin-bottom: 10px;
    font-weight: 900;
}

.personal_button {
    background-color: #fb565a;
    padding: 15px 80px;
    border-radius: 3px;
}

.close {
    position: relative;
    top: 50px;
    left: 720px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    cursor: pointer;
    border: 0;
}

.footer_items {
    display: flex;
    padding: 80px 0;
    align-items: center;
}

.footer_social {
    width: 33.3%;
}

.footer_social ul {
    display: flex;
    list-style: none;
    height: 100%;
    z-index: 0;
}

.footer_social ul li:nth-child(1) a {
    width: 70px;
    height: 70px;
    background-color: #e1e1e1;
    border-radius: 100%;
    position: relative;
}

.footer_social ul li:nth-child(1) img {
    position: absolute;
    top: calc(50% - 7px);
    right: calc(50% - 12px);
}

.footer_social ul li:nth-child(2) a {
    width: 70px;
    height: 70px;
    background-color: #e1e1e1;
    border-radius: 100%;
    position: relative;
    margin: 0 10px;
    z-index: 0;
}

.footer_social ul li:nth-child(2) img {
    position: absolute;
    top: calc(50% - 12px);
    right: calc(50% - 6px);
}

.footer_social ul li:nth-child(3) a {
    width: 70px;
    height: 70px;
    background-color: #e1e1e1;
    border-radius: 100%;
    position: relative;
    z-index: 0;
}

.footer_social ul li:nth-child(3) img {
    position: absolute;
    top: calc(50% - 10px);
    right: calc(50% - 11px);
}

.footer_title h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.footer_title p {
    color: #767676;
}