* {
    padding: 0;
    margin: 0;
}

.site {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.top_section {
    display: flex;
    background-image: url(../Images/top_section_img.png);
    background-size: cover;
    position: relative;
    padding: 0 0 120px 0;
}

.prev,
.next {
    position: absolute;
    cursor: pointer;
}

.prev::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 1.5px;
    transform: rotate(-45deg);
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    background-color: #bfc7cd;
}

.prev::before {
    content: '';
    background-color: #bfc7cd;
    width: 8px;
    height: 1.5px;
    transform: rotate(220deg);
    position: absolute;
    top: 25.5px;
    left: 21.2px;
}

.next::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 1.5px;
    transform: rotate(45deg);
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    background-color: #bfc7cd;
}

.next::before {
    content: '';
    background-color: #bfc7cd;
    width: 8px;
    height: 1.5px;
    transform: rotate(-220deg);
    position: absolute;
    top: 25.5px;
    left: 21.2px;
}

.prev:hover,
.prev:hover::before,
.prev:hover::after {
    background-color: #45788e;
}

.next:hover,
.next:hover::before,
.next:hover::after {
    background-color: #45788e;
}

.next:hover,
.prev:hover {
    background-color: #4bcaff;
}

.prev {
    top: calc(50% - 18px);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #1d3b4d;
    border: none;
}

.next {
    top: calc(50% - 32px);
    right: 6%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #1d3b4d;
    border: none;
}

.top_section .markers {
    list-style: none;
    display: flex;
}

input {
    display: none;
}

.item_1::before,
.item_2::before,
.item_3::before {
    content: '';
    position: absolute;
    bottom: 22px;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
}

.item_1::before {
    left: 50%;
}

.item_2::before {
    left: 52%;
}

.item_3::before {
    left: 54%;
}

.markers label:active::before {
    background-color: #4bcaff;
    border: 2px solid transparent;
    transform: scale(1.4);
}

.block {
    position: absolute;
    background-color: #000;
    opacity: .3;
    top: 0;
    height: 100px;
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    cursor: default;
    max-width: 1440px;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    position: relative;
}

.logo::before {
    content: '';
    position: absolute;
    background-image: url(../Images/header_signal.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 11px;
    top: -33%;
    left: 33%;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav_toogle {
    display: none;
    border: 0;
    background: none;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    top: -8px;
}

.nav_toogle::before {
    content: '';
    height: 5px;
    width: 35px;
    background-color: #fff;
    position: absolute;
    top: 8px;
    left: 0;
    border-radius: 3px;
}

.nav_toogle label::before {
    content: '';
    height: 5px;
    width: 35px;
    background-color: #fff;
    position: absolute;
    top: 8px;
    left: 0;
    border-radius: 3px;
}

.nav_toogle label::after {
    content: '';
    height: 5px;
    width: 35px;
    background-color: #fff;
    position: absolute;
    top: 16px;
    left: 0;
    border-radius: 3px;
}

.nav_toogle label {
    display: block;
    height: 5px;
    width: 35px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
}

#nav_toogle {
    display: none;
}

.nav ul li:not(:last-child) {
    margin-right: 30px;
}

.nav ul li {
    z-index: 1;
}

.nav ul a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 97px;
    font-weight: bold;
    display: inline-block;
    border-top: 3px solid transparent;
}

.nav ul a:hover {
    border-top: 3px solid #4bcaff;
}

.promo {
    display: flex;
    flex-direction: column;
    width: 53%;
    margin-left: auto;
    align-items: flex-start;
    justify-content: flex-end;
    height: 600px;
    color: #fff;
}

.promo h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 41px;
    margin-bottom: 20px;
}

.promo .bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.promo p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    letter-spacing: 0.4px;
}

.buttons {
    display: flex;
}

.buttons .header_button {
    padding: 20px 50px;
    border: 3px solid #fff;
    background: transparent;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 70px;
    cursor: pointer;
}

.buttons .header_button:hover {
    background-color: #4bcaff;
    border: 3px solid transparent;
    border-bottom: 3px solid #277697;
}

.button1,
.button2 {
    position: relative;
    top: 0px;
    transition: all ease 0.1s;
    white-space: nowrap;
}

.button1:active,
.button2:active {
    box-shadow: 0 1px 5px #fff;
    top: 2px;
}

.button1 {
    margin-right: 30px;
}

.promo_ico {
    display: flex;
    align-items: center;
    justify-content: center;
}

.promo_ico p {
    margin-bottom: 0;
}

.promo_ico_image1,
.promo_ico_image2 {
    background-position: 50% 50%;
    border-radius: 100%;
    background-color: #141920;
    padding: 12px;
    height: 30px;
    width: 30px;
    position: relative;
}

.promo_ico_image1 {
    margin: 0 20px;
}

.img_apple {
    background-image: url(../Images/header_apple.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    left: calc(50% - 13px);
    top: calc(50% - 13px);
}

.img_apple:hover {
    background-image: url(../Images/header_ico_appleBLUE.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    left: calc(50% - 11px);
    top: calc(50% - 14px);
}

.img_android {
    background-image: url(../Images/header_android.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    left: calc(50% - 11px);
    top: calc(50% - 13px);
}

.img_android:hover {
    background-image: url(../Images/header_ico_androidBLUE.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
}

.features {
    background-color: #f9f9f9;
    padding: 60px 0 90px 0;
    border-bottom: 1px solid #e7e7e7;
}

.features_title {
    margin: 0 auto;
    text-align: center;
}

.features_title h2 {
    font-size: 36px;
    color: #414042;
}

.features_title p {
    color: #666567;
    font-size: 20px;
    margin-bottom: 70px;
}

.features_items ul {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
}

.features_items li:not(:last-child) {
    margin-right: 90px;
}

.features_items li {
    width: calc(25% - 45px);
}

.features_items a {
    background-color: #4bcaff;
    padding: 40px;
    border-radius: 100%;
    display: inline-block;
}

.features_items .mobile_ico {
    padding: 40px 55px;
}

.features_items .layout_ico {
    padding: 40px 45px;
}

.features_items .message_ico {
    padding: 40px 45px;
}

.features_items h3 {
    font-size: 15px;
    color: #414042;
    margin: 30px 0;
    text-transform: uppercase;
}

.features_items p {
    color: #838383;
    font-size: 13px;
    line-height: 20px;
}

.features_items li:hover a{
    background-color: #414042;
}

.features_items li:hover h3 {
    color: #4bcaff;
}

.gallery {
    padding: 50px 0 110px 0;
}

.gallery .gallery_title {
    text-align: center;
}

.gallery_title h2 {
    font-size: 36px;
    color: #414042;
}

.gallery_title p {
    color: #666567;
    font-size: 20px;
    margin-bottom: 70px;
}

.gallery_items ul {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
}

.gallery_items li:not(:last-child) {
    margin-right: 30px;
}

.gallery_items .item_1,
.gallery_items .item_2,
.gallery_items .item_3,
.gallery_items .item_4 {
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.gallery_items .item_1:hover,
.gallery_items .item_2:hover,
.gallery_items .item_3:hover,
.gallery_items .item_4:hover {
    background-image: url(../Images/gallery_main_imgHOVER.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 204px;
    border-radius: 8px;
}

.gallery_items .item_1:hover .plus_button,
.gallery_items .item_2:hover .plus_button,
.gallery_items .item_3:hover .plus_button,
.gallery_items .item_4:hover .plus_button {
    display: inline-block;
}

.plus_button {
    background-image: url(../Images/gallery_ico_plus.png);
    position: absolute;
    top: calc(50% - 21px);
    left: calc(50% - 11px);
    background-size: 23px;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border: none;
    display: none;
}

.gallery_items .item_1:hover img,
.gallery_items .item_2:hover img,
.gallery_items .item_3:hover img,
.gallery_items .item_4:hover img {
    opacity: .1;
    background-image: url(../Images/gallery_ico_plus.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 50% 50%;
}

.gallery_items .item_1:hover h3,
.gallery_items .item_2:hover h3,
.gallery_items .item_3:hover h3,
.gallery_items .item_4:hover h3 {
    opacity: .7;
}

.gallery_items .item_1::before,
.gallery_items .item_2::before,
.gallery_items .item_3::before {
    content: none;
}

.gallery_items h3 {
    position: absolute;
    bottom: 0;
    font-size: 15px;
    color: #4bcaff;
    text-transform: uppercase;
    background-color: #515152;
    padding: 12px 70px;
    border-radius: 0 0 8px 8px;
    width: 130px;
}

.gallery_items p {
    color: #838383;
    font-size: 13px;
    line-height: 20px;
    margin-top: 25px;
}

.video {
    background-image: url(../Images/video_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.video_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px 0 150px 0;
}

.button_play {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 37px 55px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.button_play::before {
    content: '';
    background-image: url(../Images/video_ico_play.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}

.video_title h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
    margin: 30px 0;
}

.video_title .bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color:  #fff;
}

.video_title p {
    width: 66%;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #fff;
}

.prices {
    padding: 80px 0;
    border-bottom: 1px solid #e7e7e7;
}

.prices_title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.prices_title h2 {
    font-size: 36px;
    color: #414042;
}

.prices_title p {
    color: #414042;
    font-size: 20px;
    margin-bottom: 80px;
}

.prices_blocks ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.prices_blocks li:not(:last-child) {
    margin-right: 30px;
}

.prices_blocks a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

.block_1,
.block_2,
.block_3 {
    width: 33.3%;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #dad7d7;
}

.prices_blocks p {
    font-size: 18px;
    color: #d7d7d7;
}

.ttu {
    padding: 25px 0;
    text-transform: uppercase;
}

.item1 p,
.item2 p,
.item3 p {
    padding: 25px 0 0 0;
}

.price {
    padding: 30px 80px;
    color: #fff !important;
    font-size: 85px !important;
    font-weight: 700;
    position: relative;
}

.green {
    background-color: #91c46b;
    text-shadow: 1px 1px 1px #6c9150;
}

.blue {
    background-color: #4bcaff;
    text-shadow: 1px 1px 1px #3389ad;
}

.orange {
    background-color: #fd7c00;
    text-shadow: 1px 1px 1px #b95a00;
}

.purchase_button {
    margin: 35px 0 20px 0;
    border: none;
    padding: 15px 50px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: none;
    border-radius: 3px;
}
 
.block_1:hover p {
    color: #91c46b;
}

.block_2:hover p {
    color: #4bcaff;
}

.block_3:hover p {
    color: #fd7c00;
}

.testimonials {
    background-color: #f9f9f9;
    padding: 45px 0;
    position: relative;
}

.testimonials_title {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.testimonials_items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.testimonials_items a {
    background-image: url(../Images/testimonials_bgi.png);
    background-repeat: no-repeat;
    width: 155px;
    height: 175px;
    position: relative;
    margin-left: 20px;
}

.testimonials_items img {
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
}

.testimonials_items p {
    width: 35%;
    margin-left: 20px;
    font-size: 14px;
    color: #4bcaff;
    font-weight: bold;
    line-height: 20px;
}

.testimonials_items span {
    display: block;
    text-align: right;
    font-style: italic;
}

.testimonials_nav {
    cursor: pointer;
}

.testimonials_nav .nav_item1,
.testimonials_nav .nav_item2,
.testimonials_nav .nav_item3 {
    width: 50px;
    height: 7px;
    background-color: #c1eafb;
    position: absolute;
    bottom: 40px;
}

.testimonials_nav .nav_item1 {
    left: calc(50% - 85px);
}

.testimonials_nav .nav_item2 {
    left:calc(50% - 25px);
}

.testimonials_nav .nav_item3 {
    right: calc(50% - 85px);
}

.testimonials_nav .nav_item1:hover,
.testimonials_nav .nav_item2:hover,
.testimonials_nav .nav_item3:hover {
    background-color: #4bcaff;
}

.download {
    background-color: #414042;
    padding: 30px 0;
}

.download_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download_title h2 {
    color: #fff;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 35px;
}

.download_button {
    background-color: #4bcaff;
    border-bottom: 4px solid #277697;
    border-radius: 8px;
    padding: 20px 40px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    text-transform: uppercase;
    font-weight: bold;
    color: #414042;
    cursor: pointer;
    position: relative;
    top: 0px;
    transition: all ease 0.1s;
}

.download_button:active {
    box-shadow: 0 1px 5px #fff;
    top: 2px;
}

.contacts {
    position: relative;
}

.contacts_field {
    background-color: #4bcaff;
    opacity: .8;
    width: 320px;
    height: 460px;
    position: absolute;
    top: calc(50% - 230px);
    left: calc(50% - 160px);
}

.contacts_items h3 {
    color: #fff;
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.contacts_items {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 230px);
    left: calc(50% - 133px);
}

.contacts_items input {
    height: 35px;
    width: 100%;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contacts_items textarea {
    padding: 0 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 140px;
}

.contacts_items textarea::placeholder,
.contacts_items input::placeholder {
    font-size: 15px;
    color: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}

.contacts_items textarea::placeholder {
    padding: 10px 0;
}

.send_button {
    background-color: #414042;
    border-bottom: 4px solid #313032;
    border-radius: 8px;
    padding: 15px 70px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    font-weight: bold;
    color: #6daac1;
    cursor: pointer;
    font-size: 17px;
    position: relative;
    top: 0px;
    transition: all ease 0.1s;
}

.send_button:active {
    box-shadow: 0 1px 5px #fff;
    top: 2px;
}

.foot {
    background-color: #414042;
    padding: 50px 0;
}

.foot_items {
    display: flex;
    justify-content: space-between;
}

.copyright {
    display: flex;
    font-size: 12px;
    color: #707071;
}

.copyright a {
    text-decoration: none;
    color: #707172;
    text-transform: uppercase;
}

.copyright span,
.privacy span {
    margin: 0 5px;
    color: #707071;
}

.privacy {
    display: flex;
}

.privacy a {
    text-decoration: none;
    color: #707071;
    font-size: 12px;
}