@media (min-width: 1990px) {
    .page {
        height: 60vw !important;
    }
}

@media (min-width: 1441px) {
    .main__wrapper {
        bottom: -15vw;
    }

    .form {
        top: 3vw;
    }
}

@media (max-width: 1265px) {
    .business_title {
        font-size: 40px;
        margin-bottom: 5vw;
    }

    .page {
        height: 100vw;
    }
}

@media (max-width: 1024px) {
    html {
        height: 110vw;
    }

    .page {
        height: 120vw;
    }

    .business__analytics {
        margin-right: 0;
    }

    .business_title {
        text-align: center;
    }

    .main__wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }

    .business_title {
        color: #333;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .form {
        top: 0vw;
    }

    .footer_nav ul {
        display: none;
    }

    .footer_nav .nav_toogle label {
        display: inline-block;
    }

    .footer_nav .nav_toogle {
        display: flex;
        background-color: rgb(182, 182, 228);
        margin-left: auto;
    }

    #nav_toogle:checked ~ .footer_nav-list {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
    }

    .footer_nav .footer_nav-list {
        flex-direction: column;
        align-items: center;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: 0.8;
        width: 360px;
        position: fixed;
        z-index: 2;
    }

    .footer_nav .footer_nav-list a {
        padding: 30px 0;
        letter-spacing: 1.1px;
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    .footer_nav ul li a:hover {
        color: #fb565a !important;
    }

    #nav_toogle:checked ~ ul li {
        margin: 0;
        width: 100%;
        display: block;
    }

    .todo__container {
        background-size: 100% 70%;
    }

    .todo__list li {
        width: calc(33.3% - 40px);
    }
}

@media (max-width: 990px) {
    .page {
        height: 150vw;
    }

    .business_title {
        line-height: 50px;
    }
}

@media (max-width: 800px) {
    .page {
        height: 160vw;
    }

    .nav_toogle label {
        top: -6vw;
    }
}

@media (max-width: 768px) {
    html {
        height: 130vw;
    }

    .form {
        width: 400px;
    }

    .resp-1 {
        padding: 20px 0;
    }

    .nav_toogle label {
        top: -8vw;
        left: -10vw;
    }

    .todo_logo {
        width: 120px;
        height: 77px;
    }

    .todo_wrapper {
        bottom: -5vw;
    }

    .todo_logout {
        padding: 15px 25px;
    }

    .name_block {
        font-size: 40px;
    }

    .todo_input {
        width: 80%;
    }

    .todo__list li {
        width: calc(50% - 40px);
    }
}

@media (max-width: 720px) {
    .page {
        height: 180vw;
    }
}

@media (max-width: 650px) {
    .page {
        height: 220vw;
    }

    #nav_toogle:checked ~ ul {
        width: 240px;
    }

    .todo__list li {
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 575px) {
    .page {
        height: 250vw;
    }

    .business_title {
        font-size: 30px;
    }

    .nav_toogle label {
        top: -10vw;
    }
}

@media (max-width: 500px) {
    .page {
        height: 280vw;
    }
}

@media (max-width: 465px) {
    .page {
        height: 320vw;
    }
}

@media (max-width: 430px) {
    html {
        height: 230vw;
    }

    .form {
        width: 300px;
    }

    .page {
        height: 350vw;
    }

    .todo_logout {
        position: absolute;
        right: -30px;
        top: 0px;
    }

    .name_block {
        font-size: 28px;
    }
}

@media (max-width: 410px) {
    .page {
        height: 380vw;
    }

    .nav_toogle label {
        top: -12vw;
        left: -12vw;
    }
}

@media (max-width: 390px) {
    .page {
        height: 400vw;
    }
}

@media (max-width: 375px) {
    html {
        height: 270vw;
    }

    .page {
        height: 450vw;
    }

    .todo_logo {
        margin: 0;
    }

    .btn_add {
        padding: 15px 25px;
    }
}

@media (max-width: 350px) {
    .page {
        height: 480vw;
    }
}

@media (max-width: 335px) {
    .page {
        height: 520vw;
    }
}

@media (max-width: 320px) {
    html {
        height: 320vw;
    }

    .nav_toogle label {
        top: -16vw;
    }

    .footer_copyright-text {
        font-size: 11px;
    }

    .todo__title {
        font-size: 24px;
    }

    .todo_input {
        padding: 15px 13px;
    }
}
