@media (max-width: 2560px) {

    .logo {
        width: 20%;
    }

    .head__logo p {
        font-size: 75px;
        bottom: 60px;
        right: 38%;
    }

    .soc__container_logo p {
        bottom: 40px;
        right: -1%;
    }

}

@media (max-width: 1440px) {

    .logo {
        width: 35%;
    }

    .head__logo p {
        font-size: 70px;
        bottom: 60px;
        right: 30%;
    }

}

@media (max-width: 1265px) {

    .nav ul {
        display: none;
    }

    .nav .nav_toogle label {
        display: inline-block;
    }

    .nav .nav_toogle {
        display: flex;
        background-color: rgb(182, 182, 228);
        margin-left: auto;
    }

    #nav_toogle:checked ~ ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: .8;
        width: 360px;
        position: fixed;
        z-index: 2;
    }

    .nav ul li a {
        padding: 30px 0;
        color: #fff !important;
        letter-spacing: 1.1px;
    }

    .nav ul li a:hover {
        color: #fb565a !important;
    }

    #nav_toogle:checked ~ ul li {
        margin: 0;
        width: 100%;
        display: block;
    }

    .nav__cart {
        margin-left: 0;
    }

}

@media (max-width: 1024px) {

    .head__logo p {
        font-size: 50px;
    }

    .popup__container {
        justify-content: space-around;
        padding: 0 50px;
    }

    .popup__container a {
        width: 30%;
    }

    .cart__product_title {
        margin: 0 50px;
    }

    .product {
        width: calc(100% - 60px);
    }

    .product__image img {
        width: 85%;
    }

    .soc__container_logo a {
        text-align: center;
    }

    .soc__list_item {
        margin: 0 20px;
    }

}

@media (max-width: 830px) {

    .product__item {
        min-width: 295px;
    }

}

@media (max-width: 768px) {

    .head__logo p {
        font-size: 40px;
        right: 28%;
    }

    #nav_toogle:checked ~ ul {
        width: 300px;
    }

    .nav__list li a {
        font-size: 25px;
    }

    .popup__container a {
        width: 40%;
    }

    .product__item {
        min-width: 220px;
    }

    .product__image {
        align-self: flex-start;
    }

    .product__content h1 {
        font-size: 25px;
    }

    .product_add {
        margin: 0px auto;
    }

    .product__price, .product__meta h3 {
        margin: 10px 0;
    }

    .product__description {
        width: 290px;
    }

    .cart__product {
        flex-direction: column;
        align-items: center;
    }

    .cart__product_remove {
        position: absolute;
        right: 5%;
    }

    .soc__container {
        flex-direction: column;
        align-items: center;
    }

    .soc__container_copy {
        width: 100%;
        margin: 30px 0;
    }

}

@media (max-width: 425px) {

    .logo {
        width: 70%;
    }

    .head__logo p {
        font-size: 40px;
        right: 7%;
    }

    .head__list .tel {
        font-size: 21px;
    }

    .nav {
        position: relative;
    }

    .nav .nav_toogle {
        position: absolute;
        right: 0;
    }

    #nav_toogle:checked ~ ul {
        width: 240px;
    }

    .popup__container a {
        width: 100%;
    }

    .product__item img {
        margin-top: 20px;
        max-width: 80%;
    }

    .product__content h1 {
        font-size: 20px;
    }

    .btn__add {
        margin: 0;
        margin-bottom: 20px;
    }

    .cart__product_title a {
        font-size: 18px;
        line-height: 25px;
    }

    .product {
        flex-direction: column;
    }

    .product__image img {
        width: 50%;
        margin: 10px 0px;
    }

    .soc__container_logo p {
        bottom: 30px;
        font-size: 40px;
    }

}

@media (max-width: 375px) {

    .head {
        flex-direction: column;
        align-items: center;
    }

    .head__logo {
        margin-bottom: 20px;
    }

    .head__logo p {
        font-size: 35px;
        right: 7%;
        bottom: 25px;
    }

    .head__list .tel {
        font-size: 18px;
    }

    .cart__product_title a {
        font-size: 17px;
    }

    .product {
        min-width: 300px;
    }

}

@media (max-width: 320px) {

    .head__list .tel {
        font-size: 25px;
    }

    .product {
        min-width: 245px;
    }

    .product__description {
        width: 220px;
    }

    .soc__container_logo p {
        font-size: 35px;
    }

}