.header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    background-color: #265891;
    padding: 12px;
    width: 100vw;
    box-sizing: border-box;
}

.header svg {
    height: 50px;
}